/Event-Collector-Driver/.vs
/Event-Collector-Driver/x64
/TestIo/.vs
/TestIo/TestIo/x64
/TestIo/x64
/RansomDetectorService/.vs
/RansomDetectorService/RansomDetectorService/Debug
/RansomDetectorService/Debug
/RansomDetectorService/RansomDetectorService/x64
/RansomDetectorService/x64
/SelfDefenseKernel/.vs
/SelfDefenseKernel/x64
/SelfDefenseKernel/AntiRansomKernel/x64
/RansomDetectorService/RansomDetectorService/Release
/RansomDetectorService/vcpkg_installed
/EventCollectorDriver/x64
/EventCollectorDriver/.vs
REFD2026/vm/ggez.txt
/REFDRecovery/REFDRecovery/x64
/REFDRecovery/.vs
/RefdInstaller/.vs
/REFDCleanup/x64
/REFDCleanup/REFDCleanup/x64
/REFDCleanup/.vs
/REFD2026/vm
/RefdInstaller/Debug
/RefdInstaller/Release
/REFDRecovery/x64
/REFD2026/experiment/__pycache__
/REFD2026/experiment/dataset
/REFD2026/experiment/features
REFD2026/experiment/model/bottom_30_features.json
REFD2026/experiment/model/feature_list.json
REFD2026/experiment/model/importance_gain.json
REFD2026/experiment/model/shap_beeswarm.png
REFD2026/experiment/model/shap_summary_bar.png
REFD2026/experiment/model/xgb_gain_importance.png
REFD2026/experiment/test_report.json
REFD2026/experiment/model/test_roc_curve.png
REFD2026/experiment/model/top_30_features.json
test-benign/benign-machine.tsk.delta
/REFD2026/experiment/model
