/Event-Collector-Driver/.vs
/Event-Collector-Driver/x64
/TestIo/.vs
/TestIo/TestIo/x64
/TestIo/x64
/RansomDetectorService/.vs
/RansomDetectorService/RansomDetectorService/Debug
/RansomDetectorService/Debug
/RansomDetectorService/RansomDetectorService/x64
/RansomDetectorService/x64
/SelfDefenseKernel/.vs
/SelfDefenseKernel/x64
/SelfDefenseKernel/AntiRansomKernel/x64
/RansomDetectorService/RansomDetectorService/Release
/RansomDetectorService/vcpkg_installed
/EventCollectorDriver/x64
/EventCollectorDriver/.vs
REFD2026/vm/ggez.txt
/REFDRecovery/REFDRecovery/x64
/REFDRecovery/.vs
/RefdInstaller/.vs
/REFDCleanup/x64
/REFDCleanup/REFDCleanup/x64
/REFDCleanup/.vs
/REFD2026/vm
/RefdInstaller/Debug
/RefdInstaller/Release
/REFDRecovery/x64
